*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #42455a;
    padding: 0px 20px;
}

.container .header{
    height: 80px;
    max-width: 1180px;
    min-width: 650px;
    margin: 0px auto;
}

.container .header .logo{
    float: left;
    margin: 20px 75px 0px 40px;
}

.container .header .logo a{
    color: white;
    text-decoration: none;
    font-size: 40px;
}

.container .header .nav{
    float: left;
}

.container .header .nav li{
    display: inline-block;
}

.container .header .nav li a{
    color: white;
    text-decoration: none;
    line-height: 80px;
    font-size: 16px;
    margin: 0px 10px;
}

.container .main{
    position: absolute;
    display: inline-block;
    width: 500px;
    left: 10%;
    top: 50%;
    transform: translate(0%, -50%);
}

.container .main .title{
    font-size: 40px;
    color: white;
    margin-bottom: 40px;
}

.container .main .text{
    font-size: 16px;
    color: #c9c9c9;
    margin-bottom: 50px;
}

.container .main .morevid{
    font-size: 16px;
    color: #ccc;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid #ccc;
    border-radius: 50px;
}

.container .main .image{
    float: right;
}
